:root {
    --color-white:#FFFFFF;
    --color-blue: #2196F3;
    --color-dark: #000;
    --color-black: #212121;
    --color-grey: #757575;
    --section-hero-bacground: #2F303A;
    --section-team-bacground:#F5F4FA;
    --section-portfolio-btn: #F5F4FA;
    --border-color:#EEE;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

ul {
    list-style: none;
}

.header {
    background-color: var(--color-white);
}

body {
    font-family: "Roboto";
}

.header-logo {
color:var(--color-blue);
font-family: "Raleway";
font-weight: 700;
font-size: 26px;
line-height: auto;
text-decoration: none;
}

.header-nav {
    font-weight: 500;
    font-size: 14px;
    line-height: auto;
    text-decoration: none;
}

.header-list {
    display: flex;

}

.header-link {
    color: var(--color-black);
    cursor: pointer;
}

.header-link:hover {
    color: var(--color-blue);
}

.header-address-link {
    color: var(--color-grey);
    cursor: pointer;
}

.header-address-link:hover {
    color: var(--color-blue);
}

.section-header {
    background-color: var(--color-white);
    padding-top: 25px;
    padding-bottom: 25px;
}

.section-hero {
    background-color:var(--section-hero-bacground);
    color: var(--color-white);
    margin: 0 auto 94 auto;
    /* margin-bottom: 94px; */
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
}

.hero-title {
    text-align: center;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.3;
}

.hero-btn {
    background-color: var(--color-blue);
    color: var(--color-white);
    width: 216.0px;
    height: 50.0px;
    font-size: 16px;
    font-weight: 800;
    text-align: center;
    line-height: 1.8;
}

.main-subtitle {
    color: var(--color-black);
    font-weight: 700;
    font-size: 14px;
    line-height: auto;
}

.main-text {
    color: var(--color-grey);
    font-size: 14px;
    line-height: 1.7;
}


.main-title {
   color: var(--color-black);
   font-weight: 700;
   font-size: 36px;
   line-height: auto;
   text-align: center;
   margin: 0 auto;
}

.main-list-item-img {
    width: 370.0px;
    height: 294.0px;
    margin-top: 50px;

}

.main-section {
    padding-top: 94px;
}

.section-second {
    padding-bottom: 94px;
    padding-top: 94px;
}

.section-team {
    background-color: var(--section-team-bacground);
    padding-top: 94px;
    padding-bottom: 94px;
}

.team-title {
    color: var(--color-black);
    font-size: 36px;
    text-align: center;
    line-height: auto;
    font-weight: 700;
    margin-bottom: 50px;
}

.team-subtitle {
    color: var(--color-black);
    font-size: 16px;
    font-weight: 500;
    line-height: auto;
    text-align: center;
    padding: 30px 70px 10px 70px;
}

.team-text {
    color: var(--color-grey);
    font-size: 16px;
    font-weight: 400;
    line-height: auto;
    text-align: center;
    padding: 0 70px 30px 70px;
}

.team-img {
    width: 270.0px;
    height: 260.0px; 
}

.block {
    background-color:var(--color-white);
    width: 270.0px;
    height: 368.0px;
    border-radius: 0 0 4px 4px;
}

.footer-section {
    background-color:var(--section-hero-bacground);
    height: 252.0px;
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-logo {
    color:var(--color-dark);
    color: var(--color-blue);
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;  
    line-height: auto;
}

.footer-text {
    color: var(--color-white);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7;
    margin: 0 auto;
}

.footer-link {
    color: var(--color-grey);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7;
}

.portfolio-btn {
    background-color:var(--section-portfolio-btn);
    background-color:var(--color-blue);
    color: var(--color-black);
    color: var(--color-white);
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    width: 112.0px;
    height: 38.0px;

}

.portfolio-block {
    width: 370.0px;
    height: 404.0px;
    background-color: var(--color-white);
    border: 1px solid var(--border-color);
    margin-top: 30px;
    margin-bottom: 30px;
}

.portfolio-list-item {
    background-color: var(--color-white);
}

.portfolio-photo {
    width: 370.0px;
    height: 294.0px;
}

.portfolio-subtitle {
    color: var(--color-black);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    margin: 20px 24px 4px 24px;
}

.portfolio-text {
    color: var(--color-grey);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.8;
    margin: 0 24px 20px 24px;
}

.section-buttons {
    margin-top: 94px;
    margin-bottom: 34px;
}

.section-photo {
    margin-bottom: 94px;
}