:root {
    --color-white:#FFFFFF;
    --color-blue: #2196F3;
    --color-dark: #000;
    --color-black: #212121;
    --color-grey: #757575;
    --section-hero-bacground: #2F303A;
    --section-team-bacground:#F5F4FA;
    --section-portfolio-btn: #F5F4FA;
    --border-color:#EEE;

}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.header {
    background-color: var(--color-white);
    border-bottom: 1px solid var(--color-grey);
}

body {
    font-family: "Roboto";
}

.wrap {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.header-logo {
color:var(--color-blue);
font-family: "Raleway";
font-weight: 700;
font-size: 26px;
line-height: auto;
text-decoration: none;
}

.header-logo-blue {
    color: var(--color-blue);
}

.header-logo-black {
    color: var(--color-dark);
}

.header-logo-white {
    color: var(--color-white);
}

.header-nav {
    font-weight: 500;
    font-size: 14px;
    line-height: auto;
    text-decoration: none;
    margin-left: 93px;
    margin-right: 344px;
}

.header-list {
    display: flex;
    gap: 50px;
}

.header-list2 a[href^="tel"] {
    white-space: nowrap;
}

.header-list2 {
    display: flex;
    gap: 50px;
}

.header-link {
    color: var(--color-black);
    cursor: pointer;
    display: inline-block;
    position: relative;
}

.header-link:hover {
    color: var(--color-blue);
}

.header-link::after {
    content: "";
    position: absolute;
    inset: -10px;
}

.header-address-link {
    color: var(--color-grey);
    cursor: pointer;
    position: relative;
}

.header-address-link:hover {
    color: var(--color-blue);
}

.header-address-link::after {
    content: "";
    position: absolute;
    inset: -10px;
}

.section-header {
    background-color: var(--color-white);
    padding-top: 25px;
    padding-bottom: 25px;
}

.section-hero {
    background-color:var(--section-hero-bacground);
    background-image: url(../img/overlay.png), url(../img/hero-bg.png);
    color: var(--color-white);
    margin: 0 auto 94 auto;
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
}

.hero-title {
    text-align: center;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.3;
    max-width: 696px;
    letter-spacing: 2.64px;
    font-style: normal;
    text-transform: uppercase;
}

.hero-btn {
    background-color: var(--color-blue);
    color: var(--color-white);
    width: 216.0px;
    height: 50.0px;
    font-size: 16px;
    font-weight: 800;
    text-align: center;
    line-height: 1.8;
    margin-top: 30px; 
    border-radius: 4px;
    border: none;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

.hero-btn:hover {
    width: 218px;
    height: 52px;
}

.main-list {
    display: flex;
    gap: 30px;
}

.main-subtitle {
    color: var(--color-black);
    font-weight: 700;
    font-size: 14px;
    line-height: auto;

}

.main-item::before {
    content: "";
    width: 270.0px;
    height: 120.0px;
    background-color:var(--section-team-bacground);
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 30px;
}

.main-item:nth-child(1)::before {
    content: "";
    background-image: url(../img/vector-2.png);
}

.main-item:nth-child(2)::before {
    content: "";
    background-image: url(../img/vector-3.png);
}

.main-item:nth-child(3)::before {
    content: "";
    background-image: url(../img/vector-1.png);
}

.main-item:nth-child(4)::before {
    content: "";
    background-image: url(../img/vector-4.png);
}

.main-text {
    color: var(--color-grey);
    font-size: 14px;
    line-height: 1.7;
    margin-top: 10px;
}


.main-title {
   color: var(--color-black);
   font-weight: 700;
   font-size: 36px;
   line-height: auto;
   text-align: center;
   margin: 0 auto;
}

.main-list-item-img {
    width: 370.0px;
    height: 294.0px;
    margin-top: 50px;
    background: url() lightgray 50% / cover no-repeat;

}

.main-section {
    padding-top: 94px;
}

.section-second {
    padding-bottom: 94px;
    padding-top: 94px;
}

.section-team {
    background-color: var(--section-team-bacground);
    padding-top: 94px;
    padding-bottom: 94px;
}

.team-list {
    display: flex;
    gap: 30px;
}

.team-title {
    color: var(--color-black);
    font-size: 36px;
    text-align: center;
    line-height: auto;
    font-weight: 700;
    margin-bottom: 50px;
}

.team-subtitle {
    color: var(--color-black);
    font-size: 16px;
    font-weight: 500;
    line-height: auto;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 10px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.team-text {
    color: var(--color-grey);
    font-size: 16px;
    font-weight: 400;
    line-height: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
}

.team-img {
    width: 270.0px;
    height: 260.0px; 
    background: url() lightgray -40.687px -0.224px / 175.271% 121.356% no-repeat;
}

.team-item {
    background-color:var(--color-white);
    width: 270.0px;
    height: 368.0px;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px 0 rgba(0, 0, 0, 0.20);
}

.footer-section {
    background-color:var(--section-hero-bacground);
    height: 252.0px;
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-logo {
    color:var(--color-dark);
    color: var(--color-blue);
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;  
    line-height: auto;
}

.footer-list {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 9px;
}

.footer-text {
    color: var(--color-white);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7;
    margin: 0 auto;
}

.footer-link {
    color: var(--color-grey);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7;
}

.section-portfolio {
    margin-top: 94px;
    margin-bottom: 94px;
}

.portfolio-btn {
    background-color:var(--section-portfolio-btn);
    color: var(--color-black);
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    padding: 6px 22px;
    border: none;
    border-radius: 4px;
}

.filters-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 8px;
    margin-bottom: 34px;
}

.projects-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.portfolio-btn:hover {
    background-color: var(--color-blue);
    color: var(--color-white);
    cursor: pointer;
}

.portfolio-list-item {
    background-color: var(--color-white);
    border: 1px solid var(--border-color);
    width: 370.0px;
    height: 404.0px;
    flex-basis: calc((100% - 60) / 3);
}

.portfolio-list-item:hover {
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12), 0 4px 4px 0 rgba(0, 0, 0, 0.06), 1px 4px 6px 0 rgba(0, 0, 0, 0.16);
}

.portfolio-img {
    width: 370.0px;
    height: 294.0px;
    background: url() lightgray 50% / cover no-repeat;
}

.portfolio-subtitle {
    color: var(--color-black);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    font-style: normal;
    letter-spacing: 1.08px;
    padding: 20px 24px 0 24px;
}

.portfolio-text {
    color: var(--color-grey);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.8;
    padding: 4px 24px 20px 24px;
}