.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

:root {
    --color-white:#FFFFFF;
    --color-blue: #2196F3;
    --color-dark: #000;
    --color-black: #212121;
    --color-grey: #757575;
    --section-hero-bacground: #2F303A;
    --section-team-bacground:#F5F4FA;
}

ul {
    list-style: none;
}

.header {
    background-color: var(--color-white);
}

body {
    font-family: "Roboto";
}

.header-logo {
color:var(--color-blue);
font-family: "Raleway";
font-weight: 700;
font-size: 26px;
line-height: auto;
}

.header-nav {
    font-weight: 500;
    font-size: 14px;
    line-height: auto;
    text-decoration: none;
}

.header-link {
    color: var(--color-black);
}

.header-address-link {
    color: var(--color-grey);
}

.section-header {
    background-color: var(--color-white);
    padding-top: 25px;
    padding-bottom: 25px;
}

.section-hero {
    background-color:var(--section-hero-bacground);
    color: var(--color-white);
    margin: 0 auto 94 auto;
    margin-bottom: 94px;
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
}

.hero-title {
    text-align: center;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.3;
}

.hero-btn {
    background-color: var(--color-blue);
    color: var(--color-white);
    width: 216.0px;
    height: 50.0px;
    font-size: 16px;
    font-weight: 800;
    text-align: center;
    line-height: 1.8;
}

.main-subtitle {
    color: var(--color-black);
    font-weight: 700;
    font-size: 14px;
    line-height: auto;
}

.main-text {
    color: var(--color-grey);
    font-size: 14px;
    line-height: 1.7;
}


.main-title {
   color: var(--color-black);
   font-weight: 700;
   font-size: 36px;
   line-height: auto;
   text-align: center;
   margin: 0 auto;
}

.main-list-item-img {
    width: 370.0px;
    height: 294.0px;
    padding-top: 50px;

}

.main-section {
    margin-bottom: 94px;

}

.section-second {
    margin-bottom: 94px;
}

.section-team {
    background-color: var(--section-team-bacground);
    padding-top: 94px;
    padding-bottom: 94px;
}

.team-title {
    color: var(--color-black);
    font-size: 36px;
    text-align: center;
    line-height: auto;
    font-weight: 700;
}

.team-subtitle {
    color: var(--color-black);
    font-size: 16px;
    font-weight: 500;
    line-height: auto;
    text-align: center;
}

.team-text{
    color: var(--color-grey);
    font-size: 16px;
    font-weight: 400;
    line-height: auto;
    text-align: center;
}

.team-img{
    width: 270.0px;
    height: 260.0px; 
}

.photo {
    background-color: var(--color-white);
    width: 270px;
}

.footer-section {
    background-color:var(--section-hero-bacground);
    height: 252.0px;
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-logo {
    color:var(--color-dark);
    color: var(--color-blue);
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;  
    line-height: auto;
}

/* .footer-list {
    margin: 20px auto 60px auto;
} */

.footer-text {
    color: var(--color-white);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7;
    margin: 0 auto;
}

.footer-link {
    color: var(--color-grey);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7;
}

.portfolio-list-item-btn {
    background-color:#F5F4FA;
    color: #212121;
    font-weight: medium;
    font-size: 16px;
    line-height: 1.6;
}

.portfolio-list-item {
    background-color: #EEEEEE;
}

.portfolio-subtitle {
    color: #212121;
    font-weight: bold;
    font-size: 18px;
    line-height: 2;
}

.portfolio-text {
    color: #757575;
    font-weight: regular;
    font-size: 16px;
    line-height: 1.8;
}
